<mat-toolbar class="mat-elevation-z8">
  <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
      <mat-icon *ngIf="!sidenav.opened">
          menu
      </mat-icon>
      <mat-icon *ngIf="sidenav.opened">
          close
      </mat-icon>
  </button>
  Medical Solutions
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8" mode="over">
      <mat-divider></mat-divider>

      <img class="avatar mat-elevation-z8" src="https://source.unsplash.com/c_GmwfHBDzk/200x200" />

      <h4 class="name">Juarez da Silva</h4>
      <p class="designation">Software Engineer</p>

      <button mat-button class="menu-button" [routerLink]="['/home']" >
          <mat-icon>home</mat-icon>
          <span>Início</span>
      </button>

      <button mat-button class="menu-button" [routerLink]="['/pacientes']">
          <mat-icon>person</mat-icon>
          <span>Pacientes</span>
      </button>
      <button mat-button class="menu-button" [routerLink]="['/agenda']">
        <mat-icon>person</mat-icon>
        <span>Sobre</span>
      </button>
      <button mat-button class="menu-button" [routerLink]="['/agenda']">
        <mat-icon>person</mat-icon>
        <span>Sobre</span>
      </button>
      <mat-divider></mat-divider>

      <button mat-button class="menu-button" [routerLink]="['/login']">
        <mat-icon>exit_to_app</mat-icon>
        <span>Logout</span>
      </button>

  </mat-sidenav>

  <mat-sidenav-content>
    <div *ngIf="pagina=='pacientes'">
      <app-listapacientes></app-listapacientes>
    </div>
    <div *ngIf="pagina=='agenda'">
      <app-agenda></app-agenda>
    </div>
  </mat-sidenav-content>

</mat-sidenav-container>
